<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Panthers</title>
  </head>
  <body>
    <h2>Here are all of Panthers!</h2>
    <% for (var x in panthers) { %>
        <h4>Name: <a href="/panthers/<%= panthers[x]._id %>"><%= panthers[x].name %></a></h4>
        <h4>Color: <%= panthers[x].color %></h4>
        <h4>Born at: <%= panthers[x].createdAt %></h4>
        <form action="/panthers/destroy/<%= panthers[x]._id %>" method="post">
          <input type="submit" name="destroy" value="Destroy">
        </form>
        <hr>
    <% } %>
  </body>
  <a href="/panthers/new">Add a panther</a>
</html>
